@charset "UTF-8";
@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'opensansb';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OpenSans-Bold.ttf) format('truetype');
}

:root {
  --primary-color: #F9FAFB;
  --secondary-color: #000000;
  --tertiary-color: #FFFFFF;
  --font-color: #000000;
}

html, body {
  font-family: opensans;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--font-color);
  -webkit-overflow-scrolling: touch;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: opensansb;
}

/* ::::::::::::::::::: Header ::::::::::::::::::: */

header {
  background-color: var(--tertiary-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.navigation {
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav-inside {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
#header-title {
  display: flex;
  align-items: center;
  min-height: 50px;
  line-height: 50px;
  font-family: opensansb;
}
#header-title p {
  margin: auto 0;
}
.nav-categories {
  display: none;
}
.nav-categories a {
  display: inline-flex;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #6B7280;
}

/*~~~ LANGUAGE SWITCH ~~~*/
.switch {
  display: flex;
  align-items: center;
}
#check {
  position: relative;
  width: 30px;
  cursor: pointer;
}
#check::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 15px;
  background: #333;
  border-radius: 25px;
}
#check:checked::before {
  background: #53753c;
}
#check::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #333;
  box-sizing: border-box;
}
#check:checked::after {
  left: 12px;
  border: 2px solid #53753c;
}
.textDE {
  display: block;
}
.textEN {
  display: none;
}
.DE {
  text-transform: uppercase;
  font-family: opensansb;
  color: #333;
}
.EN {
  text-transform: uppercase;
  font-family: opensansb;
  color: #53753c;
}

/*~~~ MOBILE NAVIGATION ~~~*/
#mobile-nav {
  display: none;
}

/*~~~ DESKTOP NAVIGATION ~~~*/
#desktop-nav {
  display: none;
}

/* ::::::::::::::::::: HOME - LANDING PAGE ::::::::::::::::::: */

/*~~~ HERO SECTION ~~~*/
.hero-section {
}

/* SERVICES */
.service {
  padding: 20px 10px 30px 10px;
  //box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
.service-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.service-title h1 {
  font-size: 22px;
  font-family: opensansb;
}
.service-title img {
  min-width: 165px;
  height: 110px;
  padding: 5px;
  object-fit: cover;
}
.service-content ul {
  margin: 0;
  padding: 20px 0 12px 4px;
  list-style-type: none;
  list-style-position: inside;
}
.service-content li {
  font-size: 16px;
  padding: 6px 0;
}
.more-button {
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-style: solid;
  border-width: 1px 0;
  border-color: lightgrey;
  padding: 2px 0 4px 0;
}
.more-button button {
  border: none;
  background-color: white;
  padding: 0 2px;
  margin: 0 0 0 10px;
}
#service-expand-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
#service-expand-content ul {
  padding: 0 10px 0 16px;
}
#service-expand-content li {
  font-size: 13px;
}
#service-expand-content2 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
#service-expand-content2 ul {
  padding: 0 10px 0 16px;
}
#service-expand-content2 li {
  font-size: 13px;
}
#service-expand-content4 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
#service-expand-content4 ul {
  padding: 0 10px 0 16px;
}
#service-expand-content4 li {
  font-size: 13px;
}
.more-button::after {
  content: "\002B";
  float: right;
  margin-right: 20px;
  font-family: opensanssb;
}
.active::after {
  content: "\2212";
}
.presentations ul {
  padding: 20px 0 0 4px;
}
#old-presentations {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
#old-presentations ul {
  padding: 0 0 12px 4px;
}
.presentations p {
  padding: 0 20px;
}
.presentations ul {
  list-style-type: none;
}
.pres-button {
  margin-top: 12px;
}
.sub-list li {
  font-size: 14px;
  padding: 3px 0;
  margin-left: 6px;
}
.about img {
  min-height: 150px;
  min-width: 150px;
}
.about-content ul {
  list-style-type: none;
}

/* ::::::::::::::::::: FOOTER ::::::::::::::::::: */
#footer .inside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 12px;
}
#footer p {
  padding: 2px;
}

/* :::::::::::::::::::  MEDIA QUERIES ::::::::::::::::::: */
/* @media (min-width: 568px) { } */
/* @media (min-width: 768px) { } */

@media (min-width: 640px) {
  .navigation { padding-left: 1.5rem; padding-right: 1.5rem; }
  .nav-categories { display: flex; margin-left: 2rem; }
  .hero-section { }
  .service { padding: 20px 40px 30px 40px; }
  .more-button { padding: 4px 0 8px 0;}
  .additional-content { padding: 10px 0; }
}

@media (min-width: 1024px) {
  .navigation { padding-left: 2rem; padding-right: 2rem; }
  .hero-section { }
  .service { padding: 20px 15vw 30px 15vw; }
  .service-title img { height: 165px; min-width: 330px;}
  .about img { min-width: 165px; min-height: 165px; }
  .additional-content { padding: 20px 0; }
  .presentations { display: flex; flex-direction: column; align-items: flex-end; }
  .pres-button { width: 200px; }
  .pres-button::after { margin-right: 10px; }
  /*.top {display: flex; justify-content: space-between; }
  .editorial { padding: 20px 0 30px 15vw; max-width: 25vw; }
  .translation { padding: 20px 15vw 30px 0; max-width: 25vw; }
  .top-service-title img { height: 120px; min-width: 165px; }*/
}

@media (min-width: 1300px) {
  .hero-section { }
  .service { padding: 20px 20vw 30px 20vw; }
  /*.editorial { padding: 20px 0 30px 20vw; }
  .translation { padding: 20px 20vw 30px 0; }*/
}

































