@charset "UTF-8";
@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'opensansb';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OpenSans-Bold.ttf) format('truetype');
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --tertiary-color: #FFFFFF;
  --font-color: #000000;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: arial;
  background: var(--primary-color);
  color: var(--font-color);
  -webkit-overflow-scrolling: touch;
}

p {
  margin: 0;
  padding: 0;
}

button {
  font-family: opensansb;
}

/* ---------------------- Header ---------------------- */

header {
  position: fixed;
  width: 100%;
  color: var(--font-color);
  background-color: var(--primary-color);
  transition: all 300ms ease-in 0s;
  z-index: 100;
}
header .inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#header-title {
  min-height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-family: opensansb;
}
#header-title p {
  margin: auto 0;
}

/*~~~ HAMBURGER ICON ~~~*/
#hamburger-icon {
  padding: .5rem 1rem;
}
#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 40px;
}
#bar1, #bar2, #bar3 {
  background-color: rgb(0, 0, 0);
}
.open #bar1 {
  -ms-transform: rotate(-45deg) translate(-6px, 6px);
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open #bar2 {
  opacity: 0;
}
.open #bar3 {
  -ms-transform: rotate(-45deg) translate(-6px, 6px);
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

/*~~~ LANGUAGE SWITCH ~~~*/
.check {
  position: relative;
  width: 30px;
  cursor: pointer;
}
.check::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 15px;
  background: #333;
  border-radius: 25px;
}
.check:checked::before {
  background: #53753c;
}
.check::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #333;
  box-sizing: border-box;
}
.check:checked::after {
  left: 12px;
  border: 2px solid #53753c;
}
.DE {
  text-transform: uppercase;
  color: #333;
}
.EN {
  text-transform: uppercase;
  color: #53753c;
}

/*~~~ MOBILE NAVIGATION ~~~*/
#mobile-nav {
  display: none;
}

/*~~~ DESKTOP NAVIGATION ~~~*/
#desktop-nav {
  display: none;
}

/* ::::::::::::::::::: HOME - LANDING PAGE ::::::::::::::::::: */

/*~~~ HERO SECTION ~~~*/
.hero-section {
  background-image: url("/image/front_page_pic_de.jpg");
}

.hero-section p {
  text-align: left;
}

/* SERVICES */
.service {
  padding: 20px 10px 30px 10px;
  //box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
.service-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.service-title h1 {
  font-size: 22px;
  font-family: opensansb;
}
.service-title img {
  min-width: 165px;
  height: 110px;
  padding: 5px;
  object-fit: cover;
}
.service-content ul {
  margin: 0;
  padding: 20px 0 12px 4px;
  list-style-type: none;
  list-style-position: inside;
}
.service-content li {
  font-size: 16px;
  padding: 6px 0;
}
.more-button {
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-style: solid;
  border-width: 1px 0;
  border-color: lightgrey;
  padding: 2px 0 4px 0;
}
.more-button button {
  border: none;
  background-color: white;
  padding: 0 2px;
  margin: 0 0 0 10px;
}
#service-expand-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
#service-expand-content ul {
  padding: 0 10px 0 16px;
}
#service-expand-content li {
  font-size: 13px;
}
#service-expand-content2 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
#service-expand-content2 ul {
  padding: 0 10px 0 16px;
}
#service-expand-content2 li {
  font-size: 13px;
}
#service-expand-content4 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
#service-expand-content4 ul {
  padding: 0 10px 0 16px;
}
#service-expand-content4 li {
  font-size: 13px;
}
.more-button::after {
  content: "\002B";
  float: right;
  margin-right: 20px;
  font-family: opensanssb;
}
.active::after {
  content: "\2212";
}
.presentations ul {
  padding: 20px 0 0 4px;
}
#old-presentations {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
#old-presentations ul {
  padding: 0 0 12px 4px;
}
.presentations p {
  padding: 0 20px;
}
.presentations ul {
  list-style-type: none;
}
.pres-button {
  margin-top: 12px;
}
.sub-list li {
  font-size: 14px;
  padding: 3px 0;
  margin-left: 6px;
}
.about img {
  min-height: 150px;
  min-width: 150px;
}
.about-content ul {
  list-style-type: none;
}

/* ::::::::::::::::::: FOOTER ::::::::::::::::::: */
#footer .inside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 12px;
}
#footer p {
  padding: 2px;
}

/* :::::::::::::::::::  MEDIA QUERIES ::::::::::::::::::: */
/* @media (min-width: 568px) { } */

@media (min-width: 768px) {
  #header-title { padding: 0 40px; }
  .hero-section { padding: 0 50vw 0 40px; }
  .service { padding: 20px 40px 30px 40px; }
  .more-button { padding: 4px 0 8px 0;}
  .additional-content { padding: 10px 0; }
}

@media (min-width: 1024px) {
  #header-title { padding: 0 15vw; }
  .hero-section { padding: 0 50vw 0 15vw; }
  .service { padding: 20px 15vw 30px 15vw; }
  .service-title img { height: 165px; min-width: 330px;}
  .about img { min-width: 165px; min-height: 165px; }
  .additional-content { padding: 20px 0; }
  .presentations { display: flex; flex-direction: column; align-items: flex-end; }
  .pres-button { width: 200px; }
  .pres-button::after { margin-right: 10px; }
  /*.top {display: flex; justify-content: space-between; }
  .editorial { padding: 20px 0 30px 15vw; max-width: 25vw; }
  .translation { padding: 20px 15vw 30px 0; max-width: 25vw; }
  .top-service-title img { height: 120px; min-width: 165px; }*/
}

@media (min-width: 1300px) {
  #header-title { padding: 0 20vw; }
  .hero-section { padding: 0 50vw 0 20vw; }
  .service { padding: 20px 20vw 30px 20vw; }
  /*.editorial { padding: 20px 0 30px 20vw; }
  .translation { padding: 20px 20vw 30px 0; }*/
}

/*
#logo {
  padding: .5rem 1rem;
  text-align: center;
}
#logo img {
  height: auto;
  width: 50px;
}
.site-title {
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-title .rte {
  max-width: 60vw;
  text-align: center;
}
.desk-site-title {
  display: none;
  text-shadow: 0 0 5px #1B151A, 0 0 10px #1B151A;
}
#header-title {
  display: none;
  color: var(--primary-color);
}

/* MOBILE NAVIGATION 
#mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 300ms;
  z-index: -99;
  visibility: hidden;
  opacity: 0;
}
#mobile-nav .active {
  text-shadow: 0 0 5px var(--primary-color), 0 0 5px var(--primary-color), 0 0 5px var(--primary-color), 0 0 5px var(--primary-color);
}
#mobile-nav .level_2 {
  display: none;
}
ul.level_1 {
  margin: 0;
  padding: 0;
}
#mobile-nav li {
  padding: .5rem;
  font-size: 2rem;
  text-align: center;
}
#mobile-nav a {
  color: var(--primary-color);
  text-decoration: none;
}
.mod_navigation ul {
  list-style: none;
}

/* DESKTOP NAVIGATION 
#desktop-nav {
  display: none;
  margin-right: 10vw;
}
#desktop-nav .level_1 {
  display: flex;
  flex-flow: row nowrap;
}
#desktop-nav li {
  padding: 0 1vw;
}
#desktop-nav a { 
  color: black;
  padding: 0 1vw;
  transition: color .2s ease;
}
#desktop-nav a:hover { 
  color: var(--senary-color);
}
#desktop-nav strong {
  color: var(--quinary-color);
  text-shadow: 0 0 1px #1B151A, 0 0 1px #1B151A;
  padding: 0 1vw;
}
#desktop-nav .level_2 strong {
  padding: 0;
}
#desktop-nav .active.submenu::after {
  content: none;
}
#desktop-nav .level_1 .submenu a::after {
  position: relative;
  content:none;
  display: inline-block;
  width: 0;
  height: 0;
  bottom: 2px;
  left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}
#desktop-nav .level_2 {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  width: 190px;
  box-shadow: 0 .5px black;
}
#desktop-nav .level_2 li {
  margin: 0;
  padding: 0 1vw;
  background: var(--tertiary-color);
  border-top: 1px solid rgba(142,135,116,.2);
  position: relative;
}
#desktop-nav .level_2 li a {
  padding: 10px 0 10px 0;
  display: block;
  width: 100%;
}
#desktop-nav .level_2 li a:hover {
  color: var(--secondary-color);
}
#desktop-nav .level_2 strong {
  padding: 10px 0 10px 0;
  display: block;
  width: 100%;
}
#desktop-nav .level_1 li:hover .level_2 {
  display: block;
}
#desktop-nav .level_2 li:hover {
  background: var(--senary-color);
}
#desktop-nav .level_3 {
  display: none;
  margin: 0;
  padding: 0;
  width: 190px;
  top: -1px;
  left: 190px;
  box-shadow: 0 .5px black;
}
#desktop-nav .satz-ordn .level_3 {
  left: -190px;
}
#desktop-nav .level_2 li:hover .level_3 {
  display: block;
  position: absolute;
}

/* ---------------- Home - Landing Page ----------------- 
.landing-page {
  background: url(../images/tvw_bg_test.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.landing-dark {
  position: absolute;
  opacity: .6;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
}
.landing-page .content-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20vh;
  z-index: 10;
}
.landing-page p {
  font-size: 2rem;
  text-align: center;
  background-image: linear-gradient(90deg, rgba(14,104,55,1) 0%, rgba(255,255,255,1) 60%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  background-position: -200%;
  animation: animated-gradient 10s infinite alternate-reverse;
  font-family: opensanssb;
  padding: 0 10vw;
}
@keyframes animated-gradient{
  to{
    background-position: 200%;
  }
}
.quicklinks {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.sa_quicklink {
  padding: 0 10px;
}
.ka_quicklink {
  padding: 10vh 10px 20vh 10px;
}
.quicklinks a {
  text-decoration: none;
  color: var(--quinary-color);
  font-size: 1.3rem;
  background: var(--secondary-color);
  padding: 5px 10px;
  box-shadow: 1px 1px 3px black;
  transition: all .2s ease;
}
.quicklinks a:hover {
  color: var(--secondary-color);
  background: var(--quinary-color);
}

/* ---------------- Home - Willkommens-Text ----------------- 
.welcome-content h2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 5vw;
}

.welcome-content p {
  text-align: center;
  padding: 0 5vw;
}


/* ::::::::::::::::::: KONTAKTFORMULAR ::::::::::::::::::: 
.contact-site {
  padding: 0 10vw;
}
.contact-site h2 {
  text-shadow: 0 0 5px #1B151A, 0 0 10px #1B151A;
  color: var(--secondary-color);
}
.contact-form .widget {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.contact-form label {
  padding: 0 0 7px 0;
}
.contact-form input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
.contact-form textarea {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  max-width: 80vw;
  height: 120px;
}
.contact-form button {
  border: 1px solid black;
  border-radius: 5px;
  font-family: opensans;
  padding: 5px;
  width: 25vw;;
  cursor: pointer;
  transition: all .2s ease;
}
.contact-form button:hover {
  background-color: LightGrey;
}


/* ::::::::::::::::::: IMPRESSUM & DATENSCHUTZ ::::::::::::::::::: 
.datenschutz, .notice {
  padding: 0 5px 0 5px;
}
.pri-imp-title {
  padding-top: 10px;
  text-shadow: 0 0 5px #1B151A, 0 0 10px #1B151A;
  color: var(--secondary-color);
}
.pri-imp-text h2, .pri-imp-text h3, .pri-imp-text h4 {
  text-shadow: 0 0 5px #1B151A, 0 0 10px #1B151A;
  color: var(--secondary-color);
}
.pri-imp-text strong {
  font-family: opensansb;
}
.pri-imp-text a {
  color: var(--quinary-color);
  box-shadow: inset 0 0 0 0 var(--quinary-color);
  transition: all .3s ease-in-out;
}
.pri-imp-text a:hover {
  box-shadow: inset 500px 0 0 0 var(--quinary-color);
  color: var(--secondary-color);
}


/* ::::::::::::::::::: IMPRESSUM ::::::::::::::::::: 


/* ::::::::::::::::::: Standard-Seite ::::::::::::::::::: 
.standard-site {
  padding-top: 10px;
}
.standard-site h2 {
  text-shadow: 0 0 5px #1B151A, 0 0 10px #1B151A;
  color: var(--secondary-color);
  margin: 0;
  padding: 5px 10px;
}
.standard-site h3 {
  text-shadow: 0 0 2px #1B151A, 0 0 5px #1B151A;
  color: var(--secondary-color);
  padding: 0 10px;
  margin: 0;
}
.standard-site p {
  padding: 5px 10px;
  margin: 0;
  margin-bottom: 1rem;
}
.standard-site a {
  color: var(--quinary-color);
}
.standard-site ul {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 0;
}
.standard-site .title-pic {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


/* ::::::::::::::::::: ERROR 404 ::::::::::::::::::: 
.error404 {
  padding: 4.5rem 10px 0 10px;
}


/* ::::::::::::::::::: FOOTER ::::::::::::::::::: 
footer {
  background: var(--quin-bg-color);
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
footer a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 14px;
}
.sponsors {
  display: flex;
  justify-content: center;
}
.sponsors img {
  max-width: 100px;
}
.gymwelt img {
  height: auto;
  width: 25vw;
  padding: 1rem;
}
.links {
  display: flex;
  justify-content: space-evenly;
}
.toTopButton button {
  cursor: pointer;
  text-align: center;
  background: transparent;
  color: var(--secondary-color);
  border: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-logo img {
  height: auto;
  width: 25vw;
  max-width: 100px;
  padding: 1rem;
}
.rechtliches {
  display: flex;
  justify-content: space-evenly;
}
.rechtliches a {
  font-size: 14px;
}
.copyright {
  font-size: 12px;
  text-align: center;
}


/* :::::::::::::::::::  MEDIA QUERIES ::::::::::::::::::: 
@media (min-width: 568px) {
  .landing-page p { font-size: 3rem; }
  .depa .content-hyperlink { width: 50%; }
  .footer-logo img { width: 10vw; }
  .box_link { width: 50%; }
  .info-site .box_link { width: 100vw; }
  .club-site .box_link { width: 100vw; }
  .satzungen .large-button-dl-link { margin: 20px 40px; }
}

@media (min-width: 768px) {
  .depa .content-hyperlink { width: calc(100%/3); }
  .welcome-text { padding: 20px 0 60px 0; }
  .events-home-mobile { display: none; }
  .events-home { display: block; }
  .news { display: flex; flex-flow: row wrap; }
  .news .arc_1 { width: 50%; position: relative; }
  .news .arc_1::after { position: absolute; width: 46vw; margin: 0 2vw; bottom: 0; }
  .news h2 a { padding: 0 10px; }
  .news p { padding: 0 10px; }
  .panola p { padding: 0 10px; }
  .panola .content-hyperlink { width: 50vw; padding-left: 10px; }
  #panola-links { display: flex; flex-flow: row wrap; }
  #panola-links .panola-link-wrapper { width: 50%; }
  .mod_eventreader { padding: 10vh 10px 0 10px; }
  .info-site { display: flex; flex-flow: row wrap; }
  .info-site .site-title { width: 100vw; }
  .info-site .box_link { width: 100vw; }
  .u-betrieb { margin: 10px 5px; }
  .an-partner { margin: 10px 5px; }
  .satzungen .large-button-dl-link { margin: 20px 80px; }
  .datenschutz { padding: 0 10px 0 10px; }
  .notice { padding: 0 10px 0 10px; }
}

@media (min-width: 1024px) {
  #mobile-nav { display: none; }
  #hamburger-icon { display: none; }
  #header { background: #FFFAFA; }
  #header .inside { justify-content: flex-end; align-items: center; transition: all .4s ease-in}
  #header .inside:hover { background: var(--tertiary-color); border-radius: 2px; box-shadow: 0 1px 10px black;}
  #desktop-nav { display: block; }
  #desktop-nav a:hover::after { transform: scale(1.1); }
  #desktop-nav .level_2 .ext-link a::after { content: url('/files/icons/ext-link-icon-14px.png');  border-left: none; border-right: none; border-top: none; bottom: 0; width: 14px; height: 14px; }
  .site-title { opacity: 0; }
  .desk-site-title { display: block; padding: 0 20vw 30px 20vw; }
  #logo { position: absolute; top: 0; left: 0; padding: .8rem 1.6rem; }
  #logo img { width: 120px; }
  #header .inside { height: 4.5rem; }
  .landing-page .content-text { margin-top: 30vh; }
  .welcome-text { padding: 60px 0 100px 0; }
  .welcome-content p { padding: 0 15vw; text-align: left; }
  .welcome-content h2 { padding: 0 15vw; text-align: left; }
  .depa h2 { display: none; text-shadow: 0 0 5px #1B151A, 0 0 10px #1B151A; color: var(--secondary-color); }
  .depa .content-hyperlink { width: calc(100%/3); }
  .events-home { padding: 90px 0 100px 0; }
  .news-home { padding: 30px 15vw 100px 15vw; }
  .news { padding: 0 15vw; padding-top: 20px; }
  .news .info { display: block; margin-top: 20px; }
  .news h2 { margin-top: 0; }
  .news .arc_1 { width: 100%; padding-bottom: 10px; margin: 1rem 1%; background: var(--prim-dark-color); }
  .news .arc_1::after { content: none; }
  .news .arc_1 figure { padding: 0 5%; padding-bottom: 1rem; }
  .news .more { margin-right: 0; }
  .news .more a { transition: all .2s ease; }
  .news .more a:hover { color: var(--secondary-color); background: var(--quinary-color); }
  .news .pagination ul { padding: 0; margin-top: 40px; }
  .mod_newsreader { padding: 5.5rem 15vw 0 15vw; margin-bottom: 5rem; }
  .abteilungen { padding: 0 15vw; }
  .abteilungen .toggler { cursor: pointer; }
  .kurse { padding: 0 15vw; }
  .kurse .toggler { cursor: pointer; }
  .contact_info, .contact_info a { transition: all .2s ease; }
  .contact_info a:hover { color: var(--secondary-color); }
  .abteilung { padding: 0 15vw; margin: 4.5rem 0; justify-content: space-between; gap: 10px;}
  .abteilung .box_link { width: 33vw; }
  .abteilung .box_link img { width: 100%; }
  .dept-content { padding: 5.5rem 15vw 4.5rem 15vw; }
  .dept-content a, .beitritt a, .external-links a { box-shadow: inset 0 0 0 0 var(--quinary-color); transition: all .3s ease-in-out; }
  .dept-content a:hover, .beitritt a:hover, .external-links a:hover { box-shadow: inset 500px 0 0 0 var(--quinary-color); color: #fff; }
  .toIdButton button { cursor: pointer; }
  .panola p { padding: 0 15vw; }
  .panola .content-text a { box-shadow: inset 0 0 0 0 var(--quinary-color); transition: all .3s ease-in-out; }
  .panola .content-text a:hover { box-shadow: inset 500px 0 0 0 var(--quinary-color); color: #fff; }
  .panola .content-hyperlink { padding: 0 40vw; width: 20vw; }
  #panola-links { padding: 10vh 15vw 0 15vw; }
  .standard-site .title-pic { margin-left: 15vw; }
  .standard-site h2 { padding: 5px 0; }
  .standard-site h3 { padding: 0 15vw; }
  .standard-site p { padding: 0 15vw; }
  .standard-site ul { padding: 0 18vw; }
  .standard-site a { box-shadow: inset 0 0 0 0 var(--quinary-color); transition: all .3s ease-in-out; }
  .standard-site a:hover { box-shadow: inset 500px 0 0 0 var(--quinary-color); color: #fff; }
  .events { padding: 0 15vw; }
  .mod_eventreader { padding: 10vh 15vw 0 15vw; }
  .sportgelaende { padding: 1rem 15vw 0 15vw; }
  .external-links { padding: 2rem 20vw 2rem 20vw; }
  .contact-site { padding: 1rem 20vw 0 20vw; }
  .contact-form button { width: 300px; }
  .vorstand { padding: 0 15vw; }
  .vorstand .content-text::after { width: 100%; }
  .vorstand .site-title { margin-bottom: 2rem; }
  .beitritt { padding: 0 15vw; }
  .beitritt .site-title { margin-bottom: 2rem; }
  .satzungen { margin-top: 5.5rem; margin-bottom: 4.5rem; }
  .satzungen .large-button-dl-link { margin: 20px 20vw; }
  .datenschutz { padding: 4.5rem 15vw 0 15vw; }
  .notice { padding: 4.5rem 15vw 0 15vw; }
  .error404 { margin-top: 5.5rem; margin-bottom: 4.5rem; padding: 4.5rem 15vw 0 15vw; }
}

@media (min-width: 1300px) {
  #logo { padding: 1rem 2rem; }
  .depa { padding: 0 15vw; }
  .depa .content-hyperlink { width: calc(100%/3); }
  .news .arc_1 { width: 48%; margin: 1rem 1%; background: #0c5d31; }
  .news .arc_1::after { content: none; }
  .mod_newsreader { padding: 5.5rem 20vw 0 20vw; margin-bottom: 5rem; }
  .dept-content { padding: 5.5rem 20vw 4.5rem 20vw; }
  .panola p { padding: 0 20vw; }
  #panola-links { padding: 10vh 20vw 0 20vw; }
  .events { padding: 0 20vw; }
  .mod_eventreader { padding: 10vh 20vw 0 20vw; }
  .sportgelaende { padding: 1rem 20vw 0 20vw; }
  .external-links { padding: 2rem 25vw 2rem 25vw; }
  .contact-site { padding: 1rem 25vw 0 25vw; }
  .vorstand { padding: 0 20vw 0 20vw; }
  .beitritt { padding: 0 20vw 4.5rem 20vw; }
  .satzungen .large-button-dl-link { margin: 20px 20vw; }
  .datenschutz { padding: 4.5rem 20vw 0 20vw; }
  .notice { padding: 4.5rem 20vw 0 20vw; }
  .error404 { padding: 4.5rem 20vw 0 20vw; }
}


*/

































